name: tests
run-name: Test branch "${{ github.head_ref }}"
on:
  workflow_call:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "17"
      - name: Format
        run: ./gradlew spotlessJavaCheck

  tests:
    runs-on: ubuntu-latest
    needs:
      - format
    strategy:
      matrix:
        java-version: [ "17", "21", "25" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: ${{ matrix.java-version }}
      - name: Tests
        run: ./gradlew -x spotlessJavaCheck test

  integration-tests:
    runs-on: ubuntu-latest
    needs:
      - format
      - tests
    strategy:
      matrix:
        java-version: [ "17", "21", "25" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: ${{ matrix.java-version }}
      - name: Jar Tests
        run: ./gradlew integration-tests:quarkusIntTest
      - name: Native Tests
        run: >-
          ./gradlew integration-tests:quarkusIntTest
          -Dquarkus.native.enabled=true
          -Dquarkus.package.jar.enabled=false
